/* Globals */
a,a:focus,a:hover{color:#dfaa78;}
html,body{font-weight:300;height:100%;background:url('https://steemitimages.com/p/8SzwQc8j2KJb4ARrxQxCjX4jizub4U5CAK3WwB89p8hNxRmN12dP3yyvTa8koNhWC3aHB2vsaA9Y42awYAGjsxnNpFXQ1Wyih83MnK3QVya97r19qZ8?format=match&mode=fit'); background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed;}
body{color:#dfaa78;text-align:center;}
.hide{display:none;}
.landing-heading{font-family: sans-serif; font-weight:400;}
h1,h2,h3,h4,h5,h6{font-weight:300;}

/* Buttons */
.btn{font-family:'Source Code Pro',monospace;padding:0.5625rem 2.5rem;font-size:0.8125rem;font-weight:400;line-height:1.75rem;border-radius:0.5rem!important;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn-lg{font-size:0.875rem;padding:0.6875rem 3.4375rem;line-height:1.75rem;}
.btn-sm{width:5rem;padding:0.1rem;line-height:1.75rem;}
.btn:focus,.btn:active:focus,.btn.active:focus{outline:none;}
.btn-primary{background-color:#d93c5c;border:1px solid #d93c5c;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{color:#f3849b;border:1px solid #d93c5c;background-color:#db1940;}
.navbar{height: 3rem;color: black; background-color:#dfaa78 !important;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.navbar > * {margin: 0 1rem;}
.navbar > .title,.navbar > .title > h1 {color: black;margin: 0 auto;font-size: 28px;font-weight:300;}

/* Avatar */
.avatar{width:48px;height:48px;border-radius:0.5rem;}
.avatar-main{max-width:20vw;max-height:20vh;}
.avatar-section{margin-bottom:25px;}

/* Scaffolding */
.site-wrapper{display:table;width:100%;height:90% !important;min-height:90vh !important;}
.site-wrapper-inner{display:flex;flex-direction:column;justify-content:center;margin-right:auto;margin-left:auto;width:100%;height:90%;}
.panel-authed{padding:0 0 0 0;}
.panel-welcome {margin: 5rem 0 0 0;}

/* Home button */
.btn-home-hello{position:absolute;font-family:'Source Code Pro',monospace;font-size:11px;font-weight:400;color:rgba(255,255,255,0.85);top:15px;left:15px;padding:3px 20px;background-color:rgba(255,255,255,0.15);border-radius:6px;-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);}

/* Input */
.new-status,.new-picture {background-color:#b48e6b;border:solid 1px #b48e6b;max-width: 12rem;margin: 0 auto;padding:0.5rem 0;}
input, textarea{max-width: 10.5rem;min-height:2.5rem;padding:0.5rem;font-weight:300;color:black;background-color:#dfaa78;border:solid 1px #dfaa78;}
textarea::placeholder{color:#8d7864;}

/* Statuses */
.timestamp {margin:5px;font-size: 12px;color:#8d7864;}
.statuses,.gallery {background-color: rgba(0, 0, 0, 0.25);max-width: 20rem; max-height: 55vh; overflow-y:auto; margin: 0 auto 1rem auto;}
.status {font-size:16px;max-width: 12.5rem;padding:0.5rem;margin: 1rem auto;color:black;background-color:#dfaa78;max-height:5rem;overflow-y:auto;overflow-x:hidden;}

/* Gallery */
.gallery-entry {max-width: 20vw;}
.new-picture button {margin-top:0.5rem;}

/* Personal Information */
.face-image {max-width: 20vw; max-height: 20vh;}
.set-face-image > * {max-width: 10rem;font-size:16px;margin: 0 0.25rem;}
.personal-info {padding-top: 1rem;background-color: rgba(0, 0, 0, 0.25);max-width: 20rem; max-height: 80vh; margin: 0 auto; overflow-y:auto;}
.personal-info > p {font-size:16px;max-width: 12.5rem;color:black;background-color:#dfaa78;max-height:5rem;overflow-y:auto;margin: 0.5rem auto;padding:0.5rem;}
.personal-info > .name {font-size:24px;}
.personal-info > h6 {margin: 1rem auto;}
.personal-info > .face-image {width: auto;height:480px;}

/* Like buttons */
.like-buttons > button {margin: 0.5rem 0.25rem;padding:0 1rem;}
